<div class="col-lg-2 mt-4">
  <div class="card movie-card">
    <div class="card-body">
      <%= link_to movie_path(movie), class: "card-link" do %>
        <%= image_tag url_for(movie.poster), class: 'thumbnail' %>

        <div class="p-3">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-subtitle mb-2 text-muted"><%= movie.genre %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>