<div class="container-fluid">
  <div class="d-flex justify-content-end me-2">
    <%= link_to "Add New movie", new_movie_path, class: "" %>

    <%= link_to "Add new ShowTime", new_showtime_path, class: "ms-4" %>
  </div>

  <div id="movie", class="row">
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </div>
</div>