<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Showtime:</strong>
    <%= booking.showtime_id %>
  </p>

  <p>
    <strong>Seat numbers:</strong>
    <%= booking.seat_numbers %>
  </p>

</div>
