<div class="container">
  <h1>Editing booking</h1>

  <%= render partial: "bookings/booking_details", locals: { movie: @movie, booking: @booking, showtime: @booking.showtime } %>
  <%= render partial: 'bookings/form', locals: { seats: @seats, showtime: @booking.showtime } %>
</div>
