<p style="color: green"><%= notice %></p>

<h1>Your Bookings:</h1>

<div id="bookings">
  <ol class="list-group list-group-numbered">
    <% @bookings.each do |booking| %>
      <li class="list-group-item">
        <%= link_to movie_booking_path(@movie, booking), class: "ms-2" do %>
          <%= render booking %>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
