.movie-card {
  width: 200px;
  min-height: 360px;

  .card-body {
    padding: 0;

    img.thumbnail {
      width: 200px;
      height: 200px;
    }
  }
}

button.destroy-movie {
  border: none ;
  background: none;
  color: red;
}

.show-date-select {
  width: 300px;
}

#bookings {
  width: 600px;

  img {
    width: 50px; 
  }
}

#booking-seat-options {
  input#booking_seat_numbers_ {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
