.movie-card {
  width: 200px;
  max-height: 430px;

  .card-body {
    padding: 0;

    img.thumbnail {
      width: 200px;
      height: 200px;
    }
  }
}

button.destroy-movie {
  border: none ;
  background: none;
  color: red;
}
