<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Theaters</h1>

  <div id="theaters" class="d-flex">
    <% @theaters.each do |theater| %>
      <%= link_to theater do %>
        <%= render theater %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "New theater", new_theater_path, class: "btn btn-dark mt-4" %>
</div>

